In [2]:
import pandas as pd
import warnings
warnings.filterwarnings('ignore')

In [4]:
players_df=pd.read_csv(r"D:\NBA 2017 Season\player_data.csv",index_col=[0])

In [6]:
s2017_df=pd.read_csv(r"D:\NBA 2017 Season\2017_season_data.csv",index_col=[0])

In [8]:
players_df.head(1)

,name,year_start,year_end,position,height,weight,birth_date,college
0,Alaa Abdelnaby,1991,1995,F-C,6-10,240.0,"June 24, 1968",Duke University

In [10]:
players_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 4550 entries, 0 to 4549
Data columns (total 8 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   name        4550 non-null   object
 1   year_start  4550 non-null   int64
 2   year_end    4550 non-null   int64
 3   position    4549 non-null   object
 4   height      4549 non-null   object
 5   weight      4544 non-null   float64
 6   birth_date  4519 non-null   object
 7   college     4248 non-null   object
dtypes: float64(1), int64(2), object(5)
memory usage: 319.9+ KB

In [12]:
s2017_df.head(1)

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,FT%,ORB,DRB,TRB,AST,STL,BLK,TOV,PF,PTS
0,2017.0,Alex Abrines,SG,23.0,OKC,68.0,6.0,1055.0,10.1,0.56,...,0.898,18.0,68.0,86.0,40.0,37.0,8.0,33.0,114.0,406.0

In [22]:
s2017_df.info()

<class 'pandas.core.frame.DataFrame'>
Index: 595 entries, 0 to 594
Data columns (total 52 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   Year    595 non-null    float64
 1   Player  595 non-null    object
 2   Pos     595 non-null    object
 3   Age     595 non-null    float64
 4   Tm      595 non-null    object
 5   G       595 non-null    float64
 6   GS      595 non-null    float64
 7   MP      595 non-null    float64
 8   PER     595 non-null    float64
 9   TS%     593 non-null    float64
 10  3PAr    593 non-null    float64
 11  FTr     593 non-null    float64
 12  ORB%    595 non-null    float64
 13  DRB%    595 non-null    float64
 14  TRB%    595 non-null    float64
 15  AST%    595 non-null    float64
 16  STL%    595 non-null    float64
 17  BLK%    595 non-null    float64
 18  TOV%    593 non-null    float64
 19  USG%    595 non-null    float64
 20  blanl   0 non-null      float64
 21  OWS     595 non-null    float64
 22  DWS     595 non-null    float64
 23  WS      595 non-null    float64
 24  WS/48   595 non-null    float64
 25  blank2  0 non-null      float64
 26  OBPM    595 non-null    float64
 27  DBPM    595 non-null    float64
 28  BPM     595 non-null    float64
 29  VORP    595 non-null    float64
 30  FG      595 non-null    float64
 31  FGA     595 non-null    float64
 32  FG%     593 non-null    float64
 33  3P      595 non-null    float64
 34  3PA     595 non-null    float64
 35  3P%     549 non-null    float64
 36  2P      595 non-null    float64
 37  2PA     595 non-null    float64
 38  2P%     590 non-null    float64
 39  eFG%    593 non-null    float64
 40  FT      595 non-null    float64
 41  FTA     595 non-null    float64
 42  FT%     571 non-null    float64
 43  ORB     595 non-null    float64
 44  DRB     595 non-null    float64
 45  TRB     595 non-null    float64
 46  AST     595 non-null    float64
 47  STL     595 non-null    float64
 48  BLK     595 non-null    float64
 49  TOV     595 non-null    float64
 50  PF      595 non-null    float64
 51  PTS     595 non-null    float64
dtypes: float64(49), object(3)
memory usage: 246.4+ KB

## Merge s2017_df and players_df with a left join

In [14]:
df=s2017_df.merge(players_df,how='left',left_on='Player',right_on='name')

In [16]:
df.head()

,Year,Player,Pos,Age,Tm,G,GS,MP,PER,TS%,...,PF,PTS,name,year_start,year_end,position,height,weight,birth_date,college
0,2017.0,Alex Abrines,SG,23.0,OKC,68.0,6.0,1055.0,10.1,0.560,...,114.0,406.0,Alex Abrines,2017.0,2018.0,G-F,6-6,190.0,"August 1, 1993",NaN
1,2017.0,Quincy Acy,PF,26.0,TOT,38.0,1.0,558.0,11.8,0.565,...,67.0,222.0,Quincy Acy,2013.0,2018.0,F,6-7,240.0,"October 6, 1990",Baylor University
2,2017.0,Quincy Acy,PF,26.0,DAL,6.0,0.0,48.0,-1.4,0.355,...,9.0,13.0,Quincy Acy,2013.0,2018.0,F,6-7,240.0,"October 6, 1990",Baylor University
3,2017.0,Quincy Acy,PF,26.0,BRK,32.0,1.0,510.0,13.1,0.587,...,58.0,209.0,Quincy Acy,2013.0,2018.0,F,6-7,240.0,"October 6, 1990",Baylor University
4,2017.0,Steven Adams,C,23.0,OKC,80.0,80.0,2389.0,16.5,0.589,...,195.0,905.0,Steven Adams,2014.0,2018.0,C,7-0,255.0,"July 20, 1993",University of Pittsburgh

## Are there misses (mismatches) in the resulting dataframe?

In [18]:
df['name'].isna().any()

True

## How many rows couldn't be matched?

In [48]:
df[df['name'].isna()]['Player'].count()

4

## Extract the names of the players that couldn't be matched

In [51]:
df[df['name'].isna()]['Player']

349             Luc Mbah
350        James Michael
352    Sheldon McClellan
593          Metta World
Name: Player, dtype: object

## Modify players_df with the correct names to re-try a successful merge

In [116]:
players_df[players_df['name'].str.contains('Mbah')]

,name,year_start,year_end,position,height,weight,birth_date,college
2595,Luc Mbah a Moute,2009,2018,F,6-8,230.0,"September 9, 1986","University of California, Los Angeles"

In [118]:
players_df[players_df['name'].str.contains('James Michael')]

,name,year_start,year_end,position,height,weight,birth_date,college
2597,James Michael McAdoo,2015,2018,F,6-9,230.0,"January 4, 1993",University of North Carolina

In [61]:
players_df[players_df['name'].str.contains('Sheldon')]

,name,year_start,year_end,position,height,weight,birth_date,college
2475,Sheldon Mac,2017,2017,G,6-5,200.0,"December 21, 1992",University of Miami

In [126]:
players_df[players_df['name'].str.contains('Metta World')]

,name,year_start,year_end,position,height,weight,birth_date,college
4487,Metta World,2000,2017,F,6-6,260.0,"November 13, 1979",St. John's University

In [20]:
players_to_change={'Luc Mbah':'Luc Mbah a Moute',
                  'James Michael':'James Michael McAdoo',
                  'Sheldon McClellan':'Sheldon Mac',
                  'Metta World':'Metta World Peace'}

In [22]:
for new_name,old_name in players_to_change.items():
    players_df.loc[players_df['name']==old_name,'name']=new_name

## Perform the merge between s2017_df and players_df again, this time, without misses

In [24]:
df=s2017_df.merge(players_df,how='left',left_on='Player',right_on='name')

In [26]:
df[df['name'].isna()]['Player'].count()

0

## Remove unnecessary columns

In [28]:
columns_to_drop = [
    "Year",
    "PER",
    "TS%",
    "3PAr",
    "FTr",
    "USG%",
    "blanl",
    "OWS",
    "DWS",
    "WS",
    "WS/48",
    "blank2",
    "OBPM",
    "DBPM",
    "BPM",
    "VORP",
    "FG%",
    "3P%",
    "eFG%",
    "FT%",
    "name",
]

In [30]:
df.drop(columns=columns_to_drop,inplace=True)

## Rename teams to their full names

In [32]:
team_mapping = {
    "OKC": "Oklahoma City Thunder",
    "DAL": "Dallas Mavericks",
    "BRK": "Brooklyn Nets",
    "SAC": "Sacramento Kings",
    "NOP": "New Orleans Pelicans",
    "MIN": "Minnesota Timberwolves",
    "SAS": "San Antonio Spurs",
    "IND": "Indiana Pacers",
    "MEM": "Memphis Grizzlies",
    "POR": "Portland Trail Blazers",
    "CLE": "Cleveland Cavaliers",
    "LAC": "Los Angeles Clippers",
    "PHI": "Philadelphia 76ers",
    "HOU": "Houston Rockets",
    "MIL": "Milwaukee Bucks",
    "NYK": "New York Knicks",
    "DEN": "Denver Nuggets",
    "ORL": "Orlando Magic",
    "MIA": "Miami Heat",
    "PHO": "Phoenix Suns",
    "GSW": "Golden State Warriors",
    "CHO": "Charlotte Hornets",
    "DET": "Detroit Pistons",
    "ATL": "Atlanta Hawks",
    "WAS": "Washington Wizards",
    "LAL": "Los Angeles Lakers",
    "UTA": "Utah Jazz",
    "BOS": "Boston Celtics",
    "CHI": "Chicago Bulls",
    "TOR": "Toronto Raptors"
}

In [34]:
for s_name,f_name in team_mapping.items():
    df.loc[df['Tm']==s_name,'Team']=f_name

## Convert birthday to a datetime object

In [36]:
df['birth_date']=pd.to_datetime(df['birth_date'])

In [148]:
df_copy=df.copy()

## Delete all players from the TOT team

In [38]:
df.drop(df.loc[df['Tm']=='TOT'].index,inplace=True)

# Analysis

## What's the team with the most players in the league?

In [55]:
df.groupby('Team')['Player'].count().sort_values(ascending=False).idxmax()

'New Orleans Pelicans'

## What's the team with the lowest FG

In [68]:
df.groupby('Team')['FG'].sum().idxmin()

'Dallas Mavericks'

In [62]:
pd.set_option("display.max_columns",None)

## What's the team with the best FG%?

In [77]:
df_prc=df.groupby('Team')[['FG','FGA']].sum()

In [85]:
df_prc['FG%']=df_prc['FG']/df_prc['FGA']

In [89]:
df_prc['FG%'].idxmax()

'Golden State Warriors'

## What's the difference between the best and worst 3P shooters (by position)?

In [104]:
df_perc_3p=(df.groupby('Pos')['3P'].sum())/(df.groupby('Pos')['3PA'].sum())

In [108]:
df_perc_3p.max()-df_perc_3p.min()

0.024253659969040164

## Find the best scorers in each team

In [137]:
df[['Player','Team','Pos','PTS']].groupby('Team').max().sort_values(by='PTS',ascending=False)

                                         Player Pos     PTS
Team
Oklahoma City Thunder            Victor Oladipo  SG  2558.0
Houston Rockets                     Tyler Ennis  SG  2356.0
Boston Celtics                     Tyler Zeller  SG  2199.0
New Orleans Pelicans               Wayne Selden  SG  2099.0
Minnesota Timberwolves              Zach LaVine  SG  2061.0
Portland Trail Blazers           Tim Quarterman  SG  2024.0
Toronto Raptors                   Terrence Ross  SG  2020.0
Golden State Warriors             Zaza Pachulia  SG  1999.0
Cleveland Cavaliers            Tristan Thompson  SG  1954.0
San Antonio Spurs                   Tony Parker  SG  1888.0
Milwaukee Bucks                      Tony Snell  SG  1832.0
Charlotte Hornets                Treveon Graham  SG  1830.0
Chicago Bulls                        Taj Gibson  SG  1816.0
Washington Wizards                   Trey Burke  SG  1805.0
Indiana Pacers                   Thaddeus Young  SG  1775.0
Phoenix Suns                     Tyson Chandler  SG  1726.0
New York Knicks               Willy Hernangomez  SG  1659.0
Utah Jazz                            Trey Lyles  SG  1601.0
Brooklyn Nets                      Yogi Ferrell  SG  1539.0
Sacramento Kings            Willie Cauley-Stein  SG  1528.0
Dallas Mavericks                   Yogi Ferrell  SG  1518.0
Miami Heat                          Willie Reed  SG  1483.0
Memphis Grizzlies                 Zach Randolph  SG  1446.0
Atlanta Hawks                      Tim Hardaway  SG  1414.0
Detroit Pistons                   Tobias Harris  SG  1321.0
Los Angeles Clippers             Wesley Johnson  SG  1316.0
Denver Nuggets                  Wilson Chandler  SG  1221.0
Los Angeles Lakers                  Tyler Ennis  SG  1205.0
Orlando Magic                     Terrence Ross  SG  1167.0
Philadelphia 76ers      Timothe Luwawu-Cabarrot  SG  1040.0

## Which team has the 'youngest squad', by average player age?

In [145]:
df.groupby('Team')['Age'].mean().idxmin()

'Portland Trail Blazers'